{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true
  },
  "rules": {
    "comma-dangle": 0,
    "semi": [2, "always"]
  },
  "globals": {
    "__ENVIRONMENT__": true
  },
  "env": {
    "mocha": true
  }
}
