@import url('//fonts.googleapis.com/css?subset=latin,cyrillic-ext,latin-ext,cyrillic&family=Open+Sans+Condensed:300|Open+Sans:400,600,400italic,600italic|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300')
@import url('//fonts.googleapis.com/css?family=Amatic+SC')
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

baseFontFamily = 'Merriweather', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Nimbus L', sans-serif
headerFontFamily = 'Amatic SC', baseFontFamily, cursive
preFontFamily = 'Consolas', Courier, monospace
secondaryFontFamily = 'Open Sans Condensed', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Nimbus L', sans-serif