flex(args...) // Only Safari and IE10 needs a prefix
  -webkit-flex args
  -ms-flex args
  flex args

flex-basis(args...)
  -webkit-flex-basis args
  -ms-flex-basis args
  flex-basis args

flex-wrap(args...)
  -webkit-flex-wrap args
  -ms-flex-wrap args
  flex-wrap args

align-content(args...)
  -webkit-align-content args
  -ms-align-content args
  align-content args